#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# NFC
/dev/st21nfc                                   0660    nfc     nfc

# Revise the permissions for Param
/dev/block/by-name/param                       0660    root    system

# Reserve
/dev/block/sde72                               0600   system     system
/dev/block/bootdevice/by-name/reserve1         0600   system     system
